In [2]:
# !pip install duckdb-engine
# !pip install duckdb`

# con = duckdb.connect(database=':memory:', read_only=False)
# con.execute("INSTALL sqlite")

##### `Import lib and create a connection`

In [1]:
import duckdb
import polars as pl
from datetime import datetime

conn = duckdb.connect()
conn.execute("LOAD sqlite;")
fa_database = duckdb.connect('fa_database.db')

##### `Check no of row and fetch all data`

In [3]:
df = pl.read_database(query= 'select count(*) from fct_fa_pnl_mini', connection= fa_database).to_pandas()
df

   count_star()
0      20096357

In [3]:
df = pl.read_database(query= 'select * from fct_fa_pnl_mini', connection= fa_database).to_pandas()
df

,complete_date,province,service_type,customer_type,partner,project,gsv_excluded_vat,stoppoint,aha_revenue,created_at
0,2023-01-01,sgn,bike,sme,84932642119,core,53727.272727,1.0,10545.454545,2024-05-08 14:26:23.128891
1,2023-01-01,sgn,bike,sme,84902375853,core,48181.818182,1.0,9636.363636,2024-05-08 14:26:23.128891
2,2023-01-01,han,bike,sme,84948598268,core,62818.181818,1.0,12181.818182,2024-05-08 14:26:23.128891
3,2023-01-01,sgn,bike,sme,84937035689,core,76454.545455,2.0,14909.090909,2024-05-08 14:26:23.128891
4,2023-01-01,sgn,bike,sme,84908690002,core,86363.636364,3.0,17272.727273,2024-05-08 14:26:23.128891
...,...,...,...,...,...,...,...,...,...,...
20353688,2024-05-07 00:00:00,han,bike,sme,84913038305,core,50000.000000,2.0,10000.000000,2024-05-08
20353689,2024-05-07 00:00:00,sgn,bike,sme,84908118141,core,50000.000000,1.0,10000.000000,2024-05-08
20353690,2024-05-07 00:00:00,sgn,bike,sme,84914678451,core,51481.481481,1.0,10000.000000,2024-05-08
20353691,2024-05-07 00:00:00,han,bike,sme,84934577392,core,55666.666667,1.0,10000.000000,2024-05-08
20353692,2024-05-07 00:00:00,sgn,bike,sme,84963307409,core,92592.592593,2.0,20000.000000,2024-05-08

##### `Delete data from db`

In [ ]:
fa_database.query("delete from fct_fa_pnl_mini where created_at = '2024-05-08' ")
fa_database.close()

##### Database sample to test

In [11]:
db_test = duckdb.connect('fa_database_copy.db')

In [15]:
db_test.register('df',sample)
db_test.sql("INSERT INTO fct_fa_pnl_mini SELECT * FROM df")